<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>iteia</title>
  </head>
	
<body style="padding:0; margin:0; background-color: #FFF; color: #000; font-family:arial; font-size: 12px;">
		
<!-- main table -->
<table border="0" cellpadding="0" cellspacing="0" width="500" bgcolor="#fff" style="margin: 25px auto;">
  <!-- top -->
  <tr>
    <td height="33" colspan="2" align="center" valign="middle" background="<!--%IMG_URL%-->images/bg-top.jpg" style="height:147px; position:relative;">
      <div style="position:relative; height:120px;">
      <a href="<!--%HOME_SITE%-->" title="iteia" target="_blank" style="display:block; width:210px; height:124px; outline:none; float:left; margin-left:82px;">
	<img src="<!--%IMG_URL%-->images/iteia.jpg" alt="" style="display:block; margin:0; padding:0; border:none;" />
      </a>
      </div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
	  <td width="41%" height="33" align="center" valign="middle" style="font-size:16px; font-weight:bold;"><!--%DATA%--></td>
	  <td width="59%" valign="middle" style="font-size:16px; font-weight:bold;"><a href="<!--%PARTICIPAR%-->" title="Cadastre-se para participar" target="_blank" style="display:block; width:140px; height:46px; outline:none; float:right;"><img src="<!--%IMG_URL%-->images/bt-cadastro.jpg" alt="" style="display:block; margin:0; padding:0; border:none;" /></a></td>
	</tr>
      </table>
    </td>
  </tr>
  <!-- top -->
			
  <!-- content -->
  
    <tr>
    
    <td colspan="2">
  
    <!--%LISTA_NOTICIAS%-->
					
					<!--%LISTA_CONTEUDOS%-->
					
					<!--%LISTA_AGENDA%-->
				</td>
			</tr>
			<!-- content -->
			
			
			
			
  <!-- footer -->
  <tr>
    <td colspan="2" valign="top" style="width:500px; height:240px; background:url(<!--%IMG_URL%-->images/bg-footer.jpg) no-repeat;">
      <table border="0" cellspacing="0" cellpadding="0" width="444px" style="margin:0 auto;">
	<tr valign="top">
	  <td style="width:210px;"><p style="padding:0px;">Patroc&iacute;nio</p>
	    <a href="http://petrobras.com.br/pt/" target="_blank" title="Petrobras" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/petrobras.jpg" alt="Petrobras" style="border:none;" /></a>
	    <a href="http://www.achix.com.br/" target="_blank" title="Achix" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/achix.jpg" alt="Achix" style="border:none;" /></a>
	  </td>
	  <td style="width:234px;"><p style="padding-bottom:0px;">Realiza&ccedil;&atilde;o</p>
	    <a href="http://www.intecidadania.org.br/" target="_blank" title="InterCidadania" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/inter-cidadania.jpg" alt="InterCidadania" style="border:none;" /></a>
	    <a href="http://www.sxbrasil.com.br/" target="_blank" title="SX Brasil" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/sx-brasil.jpg" alt="SX Brasil" hspace="10" style="border:none;" /></a>
	  </td>
	</tr>
	<tr>
	  <td valign="top" colspan="2" style="padding-bottom:2px; margin-bottom:7px; border-bottom:1px dotted #000;">
	    <p style="padding-bottom:0px;">Apoio</p>
	    <a href="http://www.cultura.gov.br/site/" target="_blank" title="Ministério da Cultura" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/ministerio-cultura.jpg" alt="Ministério da Cultura" style="border:none;" /></a>
	    <a href="#" target="_blank" title="Cultura Viva" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/cultura-viva.jpg" alt="Cultura Viva" style="border:none;" /></a>
	    <a href="#" target="_blank" title="Mais Cultura" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/mais-cultura.jpg" alt="Mais Cultura" style="border:none;" /></a>
	    <a href="#" target="_blank" title="Ponto de Cultura" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/ponto-cultura.jpg" alt="Ponto de Cultura" style="border:none;" /></a>
	    <a href="http://www.fundarpe.pe.gov.br/" target="_blank" title="Fundarpe" style="padding:0; margin:0;"><img src="<!--%IMG_URL%-->images/fundarpe.jpg" alt="Fundarpe" style="border:none;" /></a>
	  </td>
	</tr>
	<tr>
	  <td valign="top" colspan="2"><table border="0" cellspacing="0" cellpadding="0" width="444px" style="margin:0 auto;">
	      <tr>
		<td style="width:362px; padding-top:7px;" valign="top">
		  <p style="margin:0; padding:0; font-size:11px; padding-top:5px;">Deseja n&atilde;o receber mais o nosso boletim, voc&ecirc; pode <a href="<!--%HOME_SITE%-->boletim_descadastrar.php?mail=<!--%EMAILDESCADASTRO%-->" title="Desativar o recebimento" style="color:#000;">desativ&aacute;-lo.</a></p>
		  <p style="margin:0; padding:0; font-size:11px; padding-top:5px;">O uso do ITEIA estar&aacute; sujeito aos <a href="http://www.iteia.org.br/termos" title="Termos de uso" style="color:#000;">Termos de uso.</a></p>
		  <p style="margin:0; padding:0; font-size:11px; padding-top:5px;">N&atilde;o responda este e-mail.</p></td>
		<td style="width:80px;" valign="top">
		  <a href="http://twitter.com/iteia" target="_blank" title="Siga o iteia no Twitter" style="padding:0; margin:0;">
		    <img src="<!--%IMG_URL%-->images/twitter.jpg" alt="Siga o iteia no Twitter" style="border:none;" /></a></td>
	      </tr>
	      </table></td>
	</tr>
      </table></td>
  </tr>
  <!-- footer -->
			
</table>
<!-- main table -->

		
</body></html>