<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>Newsletter Fundarpe</title>
</head>
<body>
<table width="514" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#EEEEEE; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:1.5em">
  <tr>
    <td align="right" valign="bottom" scope="col"><img src="<!--%IMG_URL%-->topo.jpg" width="625" height="87" /></td>
  </tr>
  <tr>
    <td align="right" valign="top" scope="col" background="<!--%IMG_URL%-->topo_02.gif" style="font-size:10px; color:#FFFFFF; height:46px; padding-right:15px;">Pernambuco, <!--%DATA%--></td>
  </tr>
  <tr>
    <td style="padding:0 11px; background:#fff url('<!--%IMG_URL%-->bg.gif') left repeat-y;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr style="background:url(bg-news.jpg) -13px bottom no-repeat;">
          <td style="padding:0 17px 6px; *padding:10px 0 10px 17px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top">
                	<!--%IMG_DESTAQUE%-->
                  <h2 style="color:#215eae; font-size:18px"><!--%TITULO_DESTAQUE%--></h2><p><!--%DESCRICAO_DESTAQUE%--><br />
                  </p></td>
              </tr>
          </table></td>
        </tr>
        <!--%LISTA_NOTICIAS%-->
      </table></td>
  </tr>
  <tr>
    <td valign="top" background="<!--%IMG_URL%-->penc.jpg" style=" background:url(<!--%IMG_URL%-->penc.jpg) no-repeat; height:297px;"><br />
<br />
<br />
<br />
	<table border="0" cellspacing="0" cellpadding="0" style="margin:0 27px;">
        <tr>
          <td colspan="2"><br />
          <br /></td>
        </tr>
        <tr>
          <td><!--%IMG_ULTIMA%--></td>
          <td valign="top"><img src="<!--%IMG_URL%-->ico_imagem_azul.gif" width="11" height="10" /><!--%AUTORES_ULTIMA%-->
            <h2 style="margin:0; padding:0;"><!--%TITULO_ULTIMA%--></h2><!--%DESCRICAO_ULTIMA%--></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><br />
<img src="<!--%IMG_URL%-->rodape.jpg" width="625" height="131" border="0" usemap="#Map" /></td>
  </tr>
</table>
<map name="Map" id="Map">
  <area shape="rect" coords="276,20,352,37" href="mailto:<!--%EMAIL%-->?subject=Remover meu Email da Newsletter Fundarpe" />
</map>
</body>
</html>
